<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Beer</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
		</head>
	<body>
	  <div class="wrapper">
				<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								
								<a class="navbar-brand" href="index.html"><font color="Black">Beer Information</font>
								</a>
								</div>
							</div>
					</nav>
								</nav>
									<div class="beer text-center">
          <h1>Beer</h1>
          <p>Production and Consumption in the Craft Brewery Age</p>
        </div>
		<!-- </div> -->			
			<div class = "column">
				<div class = "row">
				<button id = 'VIZ1' type="button" class="btn btn-outline-primary"><font color="Black">VIZ1</font></button>
			</div>
			&nbsp;&nbsp; 
			<div class = row>
			<button id = "VIZ2" type="button" class="btn btn-outline-primary"><font color="Black">VIZ2</font></button>	
		</div>
		&nbsp;&nbsp;
			<div class = row>
			<button id = "VIZ3" type="button" class="btn btn-outline-primary"><font color="Black">VIZ3</font></button>
				
		</div>
			&nbsp;&nbsp;
		</div>
			
	    <div class="barchart">
	    </div>
	    <div class="treechart">
				
	    </div>
	    <div class="wavychart">
	    </div>
	 <script type="text/javascript" src="..\static/js/app3.js"></script>
	 </div>
    </body>
</html>
